*{
    text-align: center;
    margin: 10px;
    padding: 0;
}
.parent{
background-color: green;
    min-height:100px;
    padding: 2px;
    display: flex;
}
.child1{
    background-color: darkcyan;
    flex: 0.1;
}
.child2{
    background-color: lightblue;
    flex: 1;
}
.child3{
    background-color: lightblue;
    flex: 1;
}
.child4{
    background-color: darkcyan;
    flex: 0.1;
}.child5{
     background-color: darkcyan;
     flex: 0.1;
 }
.child6{
    background-color: lightblue;
    flex: 1;
}.child7{
     background-color: lightblue;
     flex: 1;
 }
.child8{
    background-color: darkcyan;
    flex: 0.1;
}
.example5{
    flex-direction: column;
}
.yellowline{
    min-height: 30px;
    margin: 3px;
    background-color: yellow;
    flex: 1;
}
.bars{
    display: flex;
    flex-direction: row;
    flex: 6;
    justify-content: space-around;
}
.bar{
    background-color: skyblue;
    width: 20%;
    min-height: 300px;
}